.wfDiagram {
    display: block;
    height: 100%;
    width: 100%;
    color: red;
}

.wfDiagram-bg1 {
    background-color: #fff;
}

.wfDiagram-bg2 {
    background-color: darkgreen;
}

.wfDiagram-bg3 {
    background-color: goldenrod;
}
