.wfNode {
    display: block;
    width: 80px;
    height: 80px;
    border: 1px solid gray;
    margin: 5px 0 10px 10px;
    cursor: move;
    line-height: 80px;
}

.wfNodeBtn {
    line-height: normal;
    height: auto;
    cursor: pointer;
    padding: 5px 0;
}
