.wfNode {
    display: block;
    text-align: center;
    margin-bottom: 1px;
    padding: 1px;
    border: 1px solid #fff;
}
.wfContainer .wfNode:hover {
    border-color: #215ec8;
    background-color: #5685d6;
    cursor: move;
}

.wfContainer .wfNodes img {
    width: 40px;
    height: 40px;
    z-index: 2;
}

.wfNodeBtn {
    color: #000;
    background-color: #fff;
    line-height: normal;
    height: auto;
    cursor: pointer;
    padding: 5px 0;
    border-radius: none;
}
