.wfDiagrams {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}

.wfDiagrams .wfTip {
    position: absolute;
    bottom: -50px;
    left: 0;
    display: inline-block;
    width: 100%;
    background: #666;
    opacity: 0.8;
    padding: 5px 0;
    color: #fff;
}
